.main{
    z-index: 1;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    /*height: 88vh;*/
    width: 100%;
    margin: 0;
    transition: 500ms;
    overflow-y: hidden;
  }
  
  .main-container{
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 100%;
    padding-inline: 0.5rem;
    column-gap: 0.5rem;
    height: 100%;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  
  
  .light{
    background-color: rgb(218, 216, 216);
    color: indianred;
    transition: 500ms;
  
    && svg path {
        stroke: black;
        transition: 500ms;
    }

    && div {
        background-color: white;
    }
  }
  
  .light-component{
    background-color: white;
    color: #525252;
    transition: 300ms;
  
    && svg path {
        stroke: black;
        transition: 500ms;
    }

    && div{
        background-color: white;
        transition: 300ms;
    }
  }

.reset-button{
    border-radius: 8px;
    height: max-content;
    text-align: center;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.counter-text-container{
    background-color: #302f2f;
    border-radius: 8px;
    height: auto;
    padding: 0.6em 1.2em;
    height: min-content;
}

.counter-container{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

#left{
  height: 100%;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: 10% 1fr;
  grid-template-columns: auto;
}

.header{
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  height: auto;

  background-color:  #ccec13;
  color: black;
  transition: 500ms;
  overflow-x: auto;
}
.footer{
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  height: 7vh;
  flex-direction: column;
  background-color:  #ccec13;
  justify-content: center;
  align-items: center;
  color: black;
  transition: 500ms;
  overflow-x: auto;
  overflow-y: hidden;

  && a {
    text-decoration: none;
    color: #242424;
  }

  && a:hover{
    color: aqua;
  }
}

.line{
  background-color: #242424;
  height: 2px;
  width: 100%;

  animation: streching 3s infinite;
}


@keyframes streching {
	0% {
    opacity: 1;
		width: 0%;
		animation-timing-function: ease-out;
	}

  100%{
    opacity: 0;
    width: 100%;
  }
}